<!DOCTYPE html>
<html>
  <head>
    <title>Squirrel Break!</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <ul>
      <li><img src='~/img/a.jpg'/></li>
      <li><img src='~/img/b.jpg'/></li>
      <li><img src='~/img/c.jpg'/></li>
      <li><img src='~/img/d.jpg'/></li>
      <li><img src='~/img/r.jpg'/></li>
      <li><img src='~/img/e.jpg'/></li>
    </ul>
  </body>
</html>